form button {
  cursor: pointer;
  color: white;
  background-color: var(--button-color);
  font-weight: 400;
  border-radius: calc(var(--border-radius)*0.5);
  padding: 1em 2em 1em 2em;
  border: none;
}